.addingdiv {
  width: 100%;
  overflow: hidden;
  border: 1px solid (240, 240, 240);
  background-color: rgb(240, 240, 240);
  display: flex;
}
.sidebare {
  width: 200px;
  display: inline-block;
  position: absolute;
}
.contanerspace {
  position: absolute;
  display: inline-block;
  margin-left: 300px;
  margin-top: 20px;
}
.addingdiv label {
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.abncard {
  background-color: rgb(83, 87, 87);
  min-height: 100vh; /* takes full viewport height */
  width: 100%; /* takes full width */
  position: fixed;
}

.cardabnprincipale {
  margin-top: 50px;

  margin-left: 200px;
  width: 1800px;
  height: auto;
  width: 85%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgb(139, 136, 136);
  padding: 10px;
}
.cardabnprincipale th {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px; /* Adjust as needed */
  font-weight: 400; /* Regular weight */
  color: var(--primary-text-color);
}
.cardabnprincipale h5 {
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px; /* Adjust as needed */
  font-weight: 600; /* Regular weight */
  color: var(--primary-text-color);
}
.valideabncontainer {
  margin-left: 300px;
  margin-top: 30px;
  width: 1300px;
  height: 800px;
}
.valideabncontainer h5 {
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px; /* Adjust as needed */
  font-weight: 600; /* Regular weight */
  color: var(--primary-text-color);
}
.valideabncontainer h6 {
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px; /* Adjust as needed */
  font-weight: 600; /* Regular weight */
  color: var(--primary-text-color);
}
.paymentdiv {
  left: 0;
  margin-left: 0px;
}
.fullvalidecontainer_phone {
  position: fixed;
  background-color: rgb(104, 107, 109);
  min-height: 100vh; /* takes full viewport height */
  width: 100%; /* takes full width */
}
.valideabncontainer_phone {
  margin-top: 60px;

  width: 200;
}
.paymentdiv_phone {
  left: 0;
  margin-left: 0px;
}
.valideabncontainerfinal_phone {
  margin-top: 40px;

  width: 100%;
}
.paymentdivfinal_phone {
  left: 0;
  margin-left: 0px;
}
.affichage {
  width: 500px;
  margin: auto;
}

.testdiv {
  width: 700px;
  height: 400px;
}

.listecontent {
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: aqua;
}

.abncard_phone {
  background-color: rgb(83, 87, 87);
  min-height: 100vh; /* takes full viewport height */
  width: 100%; /* takes full width */
  position: fixed;

  margin-top: 20px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
}
.cardabnprincipale_phone {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgb(90, 85, 85);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
}
.cardabnprincipale_phone tr {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
}
.cardabnprincipale_phone h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
}
