.fullpub {
  width: 95%;
  height: auto;
  margin-left: 5px;
  margin-bottom: 10px;
}
.parcoursujetpub_phone {
  width: 100%;
  height: 330px;
}
.parcoursujetpubtext_phone {
  margin-left: 10px;
  width: 100%;
  height: 130px;

  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6; /* Améliore la lisibilité */
  color: rgb(148, 139, 139);
}
.statique_phone {
  width: 100%;
  height: 380px;
}
.statiquetext_phone {
  margin-left: 10px;
  width: 100%;
  height: 130px;

  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6; /* Améliore la lisibilité */
  color: rgb(148, 139, 139);
}
.statiqueicon {
  margin-left: 43px;
}
.deuxversionlogin {
  width: 100%;
  height: 160px;
  margin-left: 25px;
}
.hr_phone {
  height: 1px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(13, 8, 96, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(0, 255, 113, 1) 100%
  );
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.cardfinal_phone {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  width: 250px;
  height: 300px;
  padding: 10px 0;
  text-align: center;
  background: linear-gradient(135deg, #ee20d6 0%, #0a2fb6 100%);
  border-radius: 15px;
  box-shadow: 2px 5px 15px black;
  transition: transform 0.3s;
}

.cardfinal_phone:hover {
  transform: scale(1.05);
}

.card_title_phone {
  border-bottom: 2px solid gray;
}

.card_title_phone h2 {
  font-size: 25px;

  color: yellow;
}

.card_title_phone p span {
  font-size: 35px;
  padding: 0 5px;
  color: #ffffff;
}

.card_content_phone ul {
  padding: 5px;
}

.card_content_phone ul li {
  list-style: none;
  padding: 3px 0;
  color: rgb(207, 203, 196);
}

.card_content_phone ul li i {
  margin-right: 4px;
}

.card_content_phone button {
  width: 120px;
  background: white;
  border-radius: 20px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.card_content_phone button:hover {
  background: #17ead9;
  letter-spacing: 1.2px;
}

.card_content_phone button a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
