.addingdiv {
  width: 100%;
  overflow: hidden;
  border: 1px solid (240, 240, 240);
  background-color: rgb(240, 240, 240);
  display: flex;
}
.sidebare {
  width: 200px;
  display: inline-block;
  position: absolute;
}
.contanerspace {
  position: absolute;
  display: inline-block;
  margin-left: 300px;
  margin-top: 20px;
}

.addingdiv label {
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.container {
  padding: 2rem;
  background-color:rgb(234, 235, 238);
}

.header {
  background-color: #800080;
  width:1000px;
  height:120px;
  
  color: white;
  padding: 2rem;
  border-radius: 1rem;

  margin-bottom: 2rem;
}

.header span {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.modules {
  color: #888;
  margin: 0.5rem 0 1rem;
}

.button {
  background-color: #e0dcfd;
  color: #5a4fcb;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #cbc3fa;
}
.cardsamedi{
width:1000px;
background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

/***********phone************************************/
.contanerspace_phone {
  position: absolute;
  display: inline-block;

  margin-top: 20px;
}

.addingdiv_phone label {
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.container_phone {
  padding: 2rem;
  background-color:rgb(234, 235, 238);
}

.header_phone {
  background-color: #800080;
  width:300px;
  height:130px;
  text:50px;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
margin-bottom:10px;
   
}

.header_phone span {
  font-weight: bold;
}

.grid_phone {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card_phone {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.modules_phone {
  color: #888;
  margin: 0.5rem 0 1rem;
}

.button_phone {
  background-color: #e0dcfd;
  color: #5a4fcb;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.button_phone:hover {
  background-color: #cbc3fa;
}
.cardsamedi_phone{
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

  