.fullcontainer {
  width: 100%;
  height: 100%;
  background-color: #17a9ec;
}
.addingdiv {
  width: 100%;
  overflow: hidden;
  border: 1px solid (240, 240, 240);

  display: flex;
}
.sidebare {
  width: 200px;
  display: inline-block;
  position: absolute;
  z-index: 2;
}
.bienvenulogo_publication {
  display: grid;
}
.contanerspace {
  background-color: var(--background-color-graywhite);
  width: 100%;
  position: absolute;
  display: inline-block;

  margin-top: 10px;
  transition: background-color 250ms ease-in-out;
}

.bienvenulogo {
  width: 700px;
  margin-left: 600px;
  height: 160px;
  margin-bottom: 0px;
}
.publicationfull {
  margin-left: 400px;
  width: 1000px;
  border-radius: 5px;

  margin-top: 10px;
}
.fullcommntary_post {
  width: 100%;
  height: auto;
  border: 1px solid #1c2325;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: var(--background-color-graywhite_seconde);
}
.inputeaddcomment {
  width: 95%;
  margin-left: 20px;
  height: 60px;
  border-radius: 5px;
  background-color: #1c2325;
  border-radius: 8px;
  background-color: var(--background-color-graywhite_seconde);
}
.inputeaddcomment input {
  height: 100%;
  background-color: var(--background-color-graywhite_seconde);
  border-radius: 15px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.inputeaddcomment input::placeholder {
  height: 100%;
  background-color: var(--background-color-graywhite_seconde);
  color: var(--primary-text-color);
}
.username {
  width: 200px;
  padding: 5px;
  display: flex;
}
.username p {
  margin-top: 15px;
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */

  color: var(--primary-text-color);
}

.fullinputshow {
  width: 700px;
  height: 450px;
  z-index: 3;
  border: 1px solid #888484;
  border-radius: 10px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  z-index: 20;
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.creatposttitle {
  width: 100%;
  height: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
  padding-left: 37%;
  margin-top: 10px;
}
.hr {
  height: 3px;
  border: none;
  border-radius: 4px;
  background: var(--background-color-graywhite_seconde);
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
.pubtextarea {
  width: 100%;
  height: 280px;
  background-color: var(--background-color-graywhite);
}
.pubtextarea textarea {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-graywhite);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
  color: var(--primary-text-color);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.pubtextarea textarea:focus {
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.pubtextarea textarea::placeholder {
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.pustpubbutton {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.pustpubbutton button {
  width: 90%;
  margin-left: 20px;

  height: 50px;
}
.vertical-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-switch .form-check-input {
  transform: rotate(90deg);
  transform-origin: center;
  width: 2.5rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}
.anonyme {
  width: 300px;
  height: 60px;

  display: flex;
  margin-left: 20px;
}
.anonyme label {
  font-size: 20px;
  margin-left: 5px;
}
.showeachpost {
  width: 80%;
  height: auto;
  border-radius: 5px;

  margin: 10px;
  margin-top: 20px;
  width: 90%;
}
.postcontent {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
  color: var(--primary-text-color);
  padding: 8px;

  /* Wrapping fixes */
  overflow-wrap: break-word; /* modern standard */
  word-break: break-word; /* older support */
  white-space: normal; /* ensures text can wrap */
}
.createdAt {
  font-size: 18px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
  color: #636366;
  margin-left: 20px;
}
.addcommment {
  width: 100%;
  margin-left: 10px;
  border-radius: 15px;
  color: var(--primary-text-color);
}
.addcommment input::placeholder {
  color: var(--primary-text-color);
  font-size: 20px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
}
.addcommment input {
  font-size: 20px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
  width: 90%;
  height: 70px;
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
  border-radius: 15px;
  border: 1px solid #242526;
}
.addcommment input:focus {
  width: 90%;
  height: 70px;
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
  border-radius: 15px;
  border: 1px solid #242526;
}
.commentdiv {
  width: auto;
  height: auto;
  border-radius: 5px;
  border-radius: 15px;
  border: 1px solid #898d8f;
  padding: 10px;
}
.namecommentary {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
  color: var(--primary-text-color);
  padding: 5px;
}
.contentcommentary {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */
  color: var(--primary-text-color);
  padding-left: 10px;
  /* Wrapping fixes */
  overflow-wrap: break-word; /* modern standard */
  word-break: break-word; /* older support */
  white-space: normal; /* ensures text can wrap */
}

.addcommment button {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100px;
}
.input_button {
  display: flex;
  padding: 12px;

  background-color: var(--background-color-graywhite_seconde);
}
/*********************************************************************/
.bienvuenwlcm {
  height: 70px;
  color: var(--primary-text-color);
  text-align: center;
  font-size: 40px;
}
.logogoat {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin-left: 20px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 100vh;
}

.card {
  margin-top: -160px;
  background: #287bff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 250px;
  height: 450px;
  margin-right: 60px;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 #fff, inset 0 -15px 0 rgba(255, 255, 255, 0.24),
    0 45px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;

  left: -40%;
  padding: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.card:nth-child(1) {
  background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}

.card:nth-child(2) {
  background: linear-gradient(to bottom, #ffec61, #f321d7);
}

.card:nth-child(3) {
  background: linear-gradient(to bottom, #24ff72, #9a4eff);
}

.icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: #3c2846;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 15px 0 rgba(0, 0, 0, 0.1), inset 0 -8px 0 #fff;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #3c2846;
}

.icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #3c2846;
}

.icon ion-icon {
  color: #fff;
  position: relative;
  font-size: 6em;
  z-index: 5;
  --ionicon-stroke-width: 24px;
}

.content {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 150px;
  text-align: center;
}

.content h2 {
  font-size: 1.8em;
  color: #fff;
  margin-bottom: 15px;
}
.content p {
  color: #fff;
  line-height: 1.5em;
}

.entergmailcode {
  width: 700px;
  height: 250px;
  display: flex;

  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  z-index: 20;

  border: 2px solid #070707;
  background-color: #e5e5ee;
  border-radius: 10px;
  padding: 10px;
}
.entergmailcode label {
  font-weight: 500;
  font-size: 25px;
  color: #1c2325;
}
.entergmailcode input {
  margin-top: 10px;
  margin-left: 20%;
  width: 60%;
  height: 50px;
}
.codeDiv {
  width: 80%;
  height: 100%;
}
.renvoyercode {
  padding: 10px;
  height: 100%;
}
/***********phone************************************/
.contanerspace_phone {
  position: absolute;
  display: inline-block;
  background-color: var(--background-color-full);
  margin-top: 20px;
}
.androidios_phone {
  display: flex;
  margin-left: 40%;
}
.bienvenulogo_phone {
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
}
.bienvuenwlcm_phone {
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  color: var(--primary-text-color);
}
.logogoat_phone {
  margin-top: -20px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container_phone {
  margin-left: 20px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 70vh;
}

.card_phone {
  background: #287bff;
  display: flex;
  justify-content: center;

  position: relative;
  width: 230px;
  height: 340px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 10px;
  box-shadow: 0 15px 0 #fff, inset 0 -15px 0 rgba(255, 255, 255, 0.24),
    0 45px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card_phone::before {
  content: "";
  position: absolute;

  left: -40%;
  padding: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.card_phone:nth-child(1) {
  background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}

.card_phone:nth-child(2) {
  background: linear-gradient(to bottom, #ffec61, #f321d7);
}

.card_phone:nth-child(3) {
  background: linear-gradient(to bottom, #24ff72, #9a4eff);
}

.icon_phone {
  position: relative;
  width: 120px;
  height: 100px;
  background: #3c2846;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 15px 0 rgba(0, 0, 0, 0.1), inset 0 -8px 0 #fff;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon_phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #3c2846;
}

.icon_phone::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #3c2846;
}

.icon_phone ion-icon {
  color: #fff;
  position: relative;
  font-size: 6em;
  z-index: 1000;
  --ionicon-stroke-width: 24px;
}

.content_phone {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 150px;
  text-align: center;
}

.content_phone h2 {
  font-size: 1.8em;
  color: #fff;
  margin-bottom: 15px;
}
.content_phone p {
  color: #fff;
  line-height: 1.5em;
}

.adresseIp {
  margin-top: 20px;
}

:root {
  --background-color: #fffbfb;
  --background-color-full: #ffffff;
  --background-color-graywhite: #f1ecec;
  --background-color-graywhite_seconde: #f1ecec;
  --background-color_headerquizz: #f5e1fd;
  --background-modulename-color: rgb(37, 176, 233, 0.9);
  --foreground-color: #3c8eec;
  --primary-text-color-info: #252424;
  --primary-text-color: #252424;
  --secondary-text-color: #f6f6f6;
  --primary-text-color-propo: #252424;
  --toggle-bg: #f6f6f6;
  --toggle-fg: #eefa4c;
}
[data-theme="dark"] {
  --background-color-graywhite: #18191a;
  --background-color-graywhite_seconde: #242526;
  --background-color-full: #191919;
  --background-color: #191919;
  --background-color_headerquizz: #272b33;
  --background-modulename-color: #272b33;
  --foreground-color: #3c8eec;
  --primary-text-color-info: #e99653;
  --primary-text-color: rgb(255, 252, 252);
  --primary-text-color-propo: #ddd8d8;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #070707;
  --toggle-fg: #17a9ec;
}

.textcontent {
  width: 500px;
  height: 500px;
  border: 1px solid var(--foreground-color);
  margin-bottom: 300px;
  margin-left: 200px;
}

.floating-toolbar {
  background-color: #17a9ec;
}
.modell {
  background-color: #17a9ec;
}

.entergmailcode_phone {
  width: 200px;
  height: 330px;
  z-index: 40;
  margin-left: 50px;
  margin-top: 50px;
  border: 2px solid #070707;
  background-color: #e5e5ee;
  border-radius: 10px;
  padding: 10px;
}
.entergmailcode_phone label {
  font-weight: 300;
  font-size: 15px;
  color: #1c2325;
}
.entergmailcode_phone input {
  margin-top: 10px;
  margin-left: 2%;
  width: 80%;
  height: 50px;
}
.entergmailcode_phone button {
  margin-top: 10px;
  margin-left: 15%;
  width: 60%;
  height: 35px;
}

/*********************************************************************/
.publicationfull_phone {
  width: 95%;
  border-radius: 5px;

  margin-top: 10px;
}
.fullcommntary_post_phone {
  width: 95%;
  height: auto;
  border: 1px solid #1c2325;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: var(--background-color-graywhite_seconde);
}
.inputeaddcomment_phone {
  width: 95%;

  height: 30px;
  border-radius: 5px;
  background-color: #1c2325;
  border-radius: 8px;
  background-color: var(--background-color-graywhite_seconde);
}
.inputeaddcomment_phone input {
  height: 100%;
  background-color: var(--background-color-graywhite_seconde);
  border-radius: 15px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.inputeaddcomment_phone input::placeholder {
  height: 100%;
  background-color: var(--background-color-graywhite_seconde);
  color: var(--primary-text-color);
}
.username_phone {
  width: 100px;
  padding: 5px;
  display: flex;
}
.username_phone p {
  margin-top: 0px;
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */

  color: var(--primary-text-color);
}

.fullinputshow_phone {
  width: 70%;
  height: 430px;
  z-index: 3;
  border: 1px solid #888484;
  border-radius: 10px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin-top: 10px;
  z-index: 20;
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
  border: 1px solid #17a9ec;
}
.creatposttitle_phone {
  width: 100%;
  height: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */
  padding-left: 2%;
  margin-top: 2px;
}
.hr_phone {
  height: 3px;
  border: none;
  border-radius: 4px;
  background: var(--background-color-graywhite_seconde);
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
.pubtextarea_phone {
  width: 100%;
  height: 280px;
  background-color: var(--background-color-graywhite);
}
.pubtextarea_phone textarea {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-graywhite);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */
  color: var(--primary-text-color);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.pubtextarea_phone textarea:focus {
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.pubtextarea_phone textarea::placeholder {
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.pustpubbutton_phone {
  width: 100%;
  height: 50px;
  margin-top: 5px;
}
.pustpubbutton_phone button {
  width: 90%;
  margin-left: 10px;

  height: 30px;
}
.vertical-switch_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-switch_phone .form-check-input {
  transform: rotate(90deg);
  transform-origin: center;
  width: 2.5rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}
.anonyme_phone {
  margin-top: -5px;
  width: 150px;
  height: 20px;

  display: flex;
  margin-left: 20px;
}
.anonyme_phone label {
  font-size: 13px;
  margin-left: 5px;
}

.anonymecmntre_phone {
  margin-top: -5px;
  width: 200px;
  height: 10px;

  display: flex;
  margin-left: 5px;
}
.anonymecmntre_phone label {
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
}
.showeachpost_phone {
  width: 95%;
  height: auto;
  border-radius: 5px;
}
.postcontent_phone {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Adjust as needed */
  font-weight: 300; /* Regular weight */
  color: var(--primary-text-color);
  padding: 8px;

  /* Wrapping fixes */
  overflow-wrap: break-word; /* modern standard */
  word-break: break-word; /* older support */
  white-space: normal; /* ensures text can wrap */
}
.createdAt_phone {
  font-size: 13px; /* Adjust as needed */
  font-weight: 300; /* Regular weight */
  color: #636366;
  margin-left: 5px;
}
.input_button_phone {
  display: flex;

  background-color: var(--background-color-graywhite_seconde);
}
.addcommment_phone {
  width: 95%;
  margin-left: 10px;
  border-radius: 15px;
  color: var(--primary-text-color);
}
.addcommment_phone input::placeholder {
  color: var(--primary-text-color);
  font-size: 16px; /* Adjust as needed */
  font-weight: 300; /* Regular weight */
}
.addcommment_phone input {
  font-size: 14px; /* Adjust as needed */
  font-weight: 300; /* Regular weight */
  width: 95%;
  height: 40px;
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
  border-radius: 15px;
  border: 1px solid #242526;
  margin-top: 5px;
}
.addcommment_phone input:focus {
  width: 80%;
  height: 70px;
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
  border-radius: 15px;
  border: 1px solid #242526;
}
.commentdiv_phone {
  width: auto;
  height: auto;
  border-radius: 5px;
  border-radius: 15px;
  border: 1px solid #898d8f;
  padding: 10px;
}
.namecommentary_phone {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px; /* Adjust as needed */
  font-weight: 300; /* Regular weight */
  color: var(--primary-text-color);
  padding: 5px;
}
.contentcommentary_phone {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */
  color: var(--primary-text-color);
  padding-left: 10px;
  /* Wrapping fixes */
  overflow-wrap: break-word; /* modern standard */
  word-break: break-word; /* older support */
  white-space: normal; /* ensures text can wrap */
}

.addcommment_phone button {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 80px;
}
/*********************************************************************/
