/****************************************************************/
.imgdescdiv {
  border: 1px solid rgb(233, 167, 167);
  height: 330px;
  width: 100%;
  margin-bottom: 5px;
}
.fulldescription {
  display: flex;
  border: 1px solid rgb(189, 185, 185);
}
.imagediv {
  width: 45%;
  border: 1px solid rgb(126, 197, 245);
}
.imagediv img {
  border: 1px solid rgb(189, 185, 185);
  height: 250px;
  width: 100%;
  padding: 2px;
  background-color: aliceblue;
}
.descarea {
  width: 100%;
  margin-left: 2px;
  border: 1px solid rgb(126, 197, 245);
}
.descarea textarea {
  height: 100%;
}

.updtimage {
  float: left;
}

.updtdesc {
  float: right;
}
.deeletefulldesc {
  margin-left: 250px;
}
.fullzoomimage {
  width: 1200px;
  height: 600px;
  background-color: rgb(239, 240, 241);
  z-index: 4;
  position: fixed;

  margin-top: -450px;
  border-radius: 13px;
}
.fullzoomimage img {
  margin-top: 40px;
  margin-left: 100px;
  width: 80%;
  height: 80%;
}
/**************************************************/
/****************************************************************/
.imgdescdiv_phone {
  border: 1px solid rgb(233, 167, 167);
  height: 560px;
  width: 100%;
  margin-bottom: 5px;
}
.fulldescription_phone {
  border: 1px solid rgb(189, 185, 185);
}
.imagediv_phone {
  width: 100%;
  height: 200px;
  border: 1px solid rgb(126, 197, 245);
}
.imagediv_phone img {
  border: 1px solid rgb(189, 185, 185);
  height: 100%;
  width: 100%;
  padding: 2px;
  background-color: aliceblue;
}
.descarea_phone {
  width: 100%;
  height: 200px;
  margin-left: 2px;
  border: 1px solid rgb(126, 197, 245);
}
.descarea_phone textarea {
  height: 100%;
}

.updtimage_phone {
  float: right;
  margin-top: 40px;
  margin-bottom: 5px;
}

.updtdesc_phone {
  float: right;
}
.deeletefulldesc_phone {
  float: left;
  background-color: aquamarine;
  margin-top: 40px;
}
