html,
body,
#root {
  height: 100%;
}
.addingdiv {
  width: 100%;

  overflow: hidden;
  border: 1px solid (240, 240, 240);
  background: var(--background-color);
  display: flex;
  height: 100%;
}

.sidebare {
  width: 200px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.contanerspace {
  margin-top: 20px;
  position: absolute;
  display: inline-block;
  background-color: var(--background-color-full);
  height: 100%;
  width: 100%;
}
.container_save_qcm_timer {
  margin-left: 830px;

  display: flex;
  width: 440px;
  height: 40px;
}
.full_save_qcm {
  margin-top: 5px;
  width: 350px;
  height: 40px;
}
.full_save_qcm button {
  margin-right: 5px;
}
.fullchronotime {
  margin-top: 5px;
  border-radius: 8px;
  display: flex;
  border: 1px solid #61e03a;
  width: 190px;
  height: 40px;
  margin-bottom: -48px;

  background-color: var(--background-color);
  overflow: hidden;
}
.timediv {
  width: 115px;
  color: var(--primary-text-color);
  height: auto;
  font-size: 13px;
  float: left;
  display: flex;
  margin-left: 10px;
  margin-right: 5px;
}
.timediv span {
  color: var(--primary-text-color);
  padding-top: 3px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.timetbns {
  display: flex;
  float: right;
}
.timetbns a {
  margin-left: 5px;
}

/******commentary section*********************************************************/
.fullqcmcontainer_commentary {
  width: 100%;

  display: flex;
}
.commentarydiv {
  height: fit-content;
  width: 600px;
  margin-left: 10px;
  margin-top: 50px;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  border: 1px solid rgb(192, 186, 186);
}
.chatgptdiv {
  margin-left: 1300px;
  margin-top: -580px;
}
.eachcommentary h6 {
  margin-top: 2px;

  color: #82acec;
}
.eachcommentary {
  margin-top: 5px;
  color: var(--primary-text-color);
  width: 95%;
  height: auto;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #e9e2e2;
  padding: 5px;
}
.commentary_likes {
  height: auto;
}
.likes {
  margin-top: 0px;
  margin-left: 20px;
  display: flex;
  height: 40px;
}

.btnjadore button {
  background-color: transparent;
  border: #fcfbfb;
  font-weight: 500;
  font-size: 13px;
  color: var(--primary-text-color);
}
.btnjadore_icon {
  display: flex;
  margin-left: 73%;
  border: #968484;
  font-weight: 500;
}
.hr_likes {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.qcmnbr_commentary_div {
  margin-top: 5px;
  display: flex;
  height: 30px;
}
.full_note_commentary {
  margin-left: 610px;
  width: 180px;
  height: 100%;
  padding-right: 3px;
  display: flex;
}
.commentary {
  margin-left: 10px;
  width: 25px;
  height: 100%;
}

.nbrNote {
  position: absolute;
  z-index: 3;
  top: 52px;
  left: 788px;
  color: #1fbb34;
  font-size: 20px;
  font-weight: bold;
}
.nbrComent {
  position: absolute;
  z-index: 3;
  top: 54px;
  left: 919px;
  color: #5389db;
  font-size: 20px;
  font-weight: bold;
}

.commentary img {
  width: 100%;
  height: 30px;
  padding: 0px;
}
.inputcommentary {
  padding: 5px;
  margin-bottom: 0px;
}

.custom_search {
  position: relative;
  width: 100%;
}
.custom_search_input {
  box-sizing: border-box;
  width: fit-content;
}
.custom_search_botton {
  padding-top: 2px;
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  line-height: 1 !important;
  z-index: 4;
}
.imojiicon_btnsend {
  width: 90px;
}
.pickerdiv {
  margin-top: 15px;
}

/*************end commentary section***********************************************************/
.cropContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  margin-top: 10px;

  width: 90%; /* make it responsive */
  max-width: 1200px;
  max-height: 90vh; /* limit height relative to viewport */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: auto; /* ✅ enables vertical scroll */
  overflow-x: hidden; /* optional: hide horizontal scroll */
}

.parsujetscontainer {
  background-color: var(--background-color-full);
}

.parsujetscontainer select {
  display: inline-block;
  vertical-align: left;

  margin: 5px;
}
.addingdiv label {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.affichage {
  width: 500px;
  margin: auto;
}
.quizcontainer {
  margin-top: 10px;
  width: 1000px;
  margin-left: 280px;
  height: 700px;
  background: linear-gradient(to right, lch(50% 250 250), lch(50% 250 250));
}
.qcmpropocontainer {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color-full);
}
.qcmInfoHeader {
  display: flex;
}
.ulcatogorycourname {
  display: flex;
  color: #0c0c0c;
}
.ulcatogorycourname li {
  margin-right: 10px;
  width: fit-content; /* size depends on text */
  background-color: #17a9ec;
  border-radius: 5px;
  padding: 3px;
}
.goatlogo {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.qcmfeild {
  color: var(--primary-text-color);
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 7px;
  z-index: 1;
  background-color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
  border-radius: 8px;
}
.qcmfeild p {
  color: var(--primary-text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
}
.nmbrqcm {
  width: 140px;
}
.propofeild {
  width: 100%;
  height: 800px;
  border-radius: 5px;
}
.ulpropo {
  padding-bottom: 10px;
  border: 1px solid rgb(192, 186, 186);
}
.ulpropo li {
  background-color: var(--background-color);
  color: var(--primary-text-color-propo);
  height: auto;
  border: 1px solid rgb(192, 186, 186);
  padding: 3px;

  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
}
.list-group-item {
  transition: all 0.2s ease-in-out;
}

.list-group-item.active {
  transform: scale(1.05); /* Slightly bigger */
  font-weight: 600;
  z-index: 1;
}
.percentage {
  width: 50px;
  font-size: 15px;
  height: 25px;
  padding-left: 5px;
  padding-bottom: 3px;
  float: right;
  margin-top: 5px;
  color: #5284cf;
  background-color: #e8ecf1;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 8px;
  border: 1px solid rgb(192, 186, 186);
}
.ulpropo img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-left: 5px;
}
.btnfooter {
  background-color: rgb(207, 209, 209);
  height: 50px;
}
.btnfooter button {
  margin-top: 5px;
  height: auto;
}
.BntVerifierrpnse {
  position: relative;
  margin-left: 40%;
}
.btnsuivant {
  position: absolute;
  right: 0;
  margin-right: 15px;
}
.btnPrecdent {
  position: absolute;
  left: 0;
  margin-left: 15px;
}

.qcmpropofeild {
  width: 100%;
  height: 50%;
  background-color: rgb(173, 76, 76);
}

.p_qcmhow {
  color: blue;
}
.p_qcmhow2 {
  color: rgb(199, 80, 100);
}
/****************************************************************/
.imgdescdiv {
  border: 1px solid rgb(233, 167, 167);
  height: 330px;
  width: 100%;
  margin-bottom: 5px;
}
.fulldescription {
  display: flex;
  border: 1px solid rgb(189, 185, 185);
}
.imagediv {
  width: 45%;
  height: 300px;

  border: 1px solid rgb(126, 197, 245);
}
.imagediv img {
  border: 1px solid rgb(189, 185, 185);
  height: 250px;
  width: 100%;
  padding: 2px;
  background-color: aliceblue;
}
.descarea {
  width: 100%;
  margin-left: 2px;
  border: 1px solid rgb(126, 197, 245);
}
.descarea textarea {
  height: 100%;
}

.updtimage {
  float: left;
}

.updtdesc {
  float: right;
}
.deeletefulldesc {
  margin-left: 250px;
}
/**************************************************/

.card_done_quiz {
  width: 550px;
  height: 200px;
  padding: 10px;
  margin-bottom: 7px;
  margin-left: 550px;
  margin-top: 70px;
  z-index: 4;
  position: fixed;
  background-color: rgb(238, 234, 234);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
  border-radius: 8px;
}
.card_done_quiz h6 {
  margin-top: 20px;
}
.card_done_quiz_btns {
  display: grid;
}
.card_done_quiz_btns button {
  color: rgb(7, 4, 0);
  margin-left: 70px;
  width: 400px;
  margin-top: 10px;
}
/**************************************************************************/

.save_quizz {
  width: 550px;
  height: 350px;
  padding: 10px;
  margin-bottom: 7px;
  margin-left: 550px;
  margin-top: 100px;
  border-radius: 8px;
  z-index: 4;
  position: fixed;
  background-color: rgb(238, 234, 234);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
}
.playliste {
  margin-top: 20px;
  margin-left: 60px;
  width: 350px;

  font-size: 16px;
}
.playliste_input {
  margin-top: 20px;
  height: 40px;
  width: 95%;
  font-size: 16px;
  display: flex;
}
.suivant_btn {
  float: right;
  right: 0px;
  bottom: 0px;

  margin-left: 100px;
}

.playliste_input input {
  width: 450px;
  height: 30px;
  font-size: 16px;
}

.playlistesdiv {
  padding-left: 10px;
  width: 45%;
  margin-right: 30px;
  margin-left: 10px;
  height: 200px;
  width: 250px;
  background-color: #f4f6f7;
  display: inline-block;
  vertical-align: middle;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  border: #888484 1px;
}
.playlisteitem input {
  border: 1px solid rgb(194, 191, 191);
  margin-right: 3px;
}

.playlisteitem label {
  font-style: unset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
.playlisteh6 {
  margin-left: 3px;
  color: var(--primary-text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 18px;
}

.save_quizz_conetent {
  margin-top: 20px;

  width: 200px;
  font-size: 16px;
}
.save_quizz_conetent input {
  margin-top: 20px;
  margin-left: 100px;
  width: 300px;
}
.save_quizz_conetent_btns {
  margin-top: 20px;
  display: flex;
  width: 350px;
  font-size: 16px;

  margin-left: 60px;
}
/**************************************************************************/

.save_quizz_conetent button {
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  font-size: 16px;
}
.eysezoom {
  width: 30px;
  height: 30px;
  float: right;
  right: 0px;
  margin: 10px;
}
/***liste qcms******************************************************/
.qcmsliste {
  width: 200px;
  height: 600px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  overflow-y: auto;
}
.qcmsliste_header {
  color: var(--primary-text-color);
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background-color: #5389db;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.qcmsliste h6 {
  margin-left: 50px;
  padding-top: 10px;
  color: var(--primary-text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.qcmsliste li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4b91f7;
  display: flex;
  background-color: var(--background-color);
}
.vl_select {
  border-left: 4px solid rgb(121, 141, 231);
  height: 15px;
  margin-top: 5px;
  margin-left: 10px;
}
.vl_answer {
  border-left: 4px solid rgb(65, 185, 81);
  height: 15px;
  margin-top: 5px;
  margin-left: 5px;
}
/**statique*****************************************************************/
.fullstatique {
  width: 1300px;
  height: 700px;
  background-color: rgb(239, 240, 241);
  z-index: 4;
  position: fixed;
  margin-left: 250px;
  margin-top: -10px;
  border-radius: 13px;
}
.bothfullstatique {
  width: 1300px;
  height: 700px;

  display: flex;
}
.fullpiebarestatique {
  width: 600px;
  height: 650px;

  margin-top: 10px;
}
.piestatique {
  width: 550px;
  height: 300px;
  padding: 10px;
  margin-bottom: 7px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
}
.barstatique {
  width: 550px;
  height: 300px;
  padding: 10px;
  margin-bottom: 7px;
  margin-left: 20px;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
}
.fulleachcours {
  margin-top: 10px;
  width: 600px;
  height: 650px;

  margin-left: 20px;
}
.headerbounate {
  margin-top: 5px;
  width: 550px;
  height: 120px;
  padding-left: 10px;

  display: flex;
}

.cardbodynumber {
  border-radius: 10px;
  height: 110px;
  width: 240px;
  background: #e4f9f2;
  margin-right: 10px;
}
.cardbodycard_timer {
  border-radius: 10px;
  height: 110px;
  width: 240px;
  background: #f5e1fd;
}
.titlenumber_time {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 25px;
  color: rgb(83, 81, 81);
}
.eachbounatecour {
  display: flex;
  width: 550px;
  height: 100px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid rgb(192, 186, 186);
}
.namecourdounate {
  width: 50%;
  height: 100px;
  font-size: 17px;
  padding-top: 20px;
  padding-left: 20px;
}
.donatecour {
  padding-left: 50px;
  width: 50%;
  height: 100px;
}

.fullinputshow {
  width: 1000px;
  height: 600px;
  z-index: 3;
  border: 1px solid #888484;
  border-radius: 10px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  z-index: 20;
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.creatposttitle {
  width: 100%;
  height: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px; /* Adjust as needed */
  font-weight: 350; /* Regular weight */
  padding-left: 37%;
  margin-top: 10px;
}
.hr {
  height: 3px;
  border: none;
  border-radius: 4px;
  background: var(--background-color-graywhite_seconde);
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
.pubtextarea {
  width: 100%;
  height: 80px;
  background-color: var(--background-color-graywhite);
}
.qcmdisplay {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-graywhite);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  font-size: 25px; /* Adjust as needed */
  font-weight: 300; /* Regular weight */
  color: var(--primary-text-color);
}
.pubtextarea textarea {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-graywhite);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px; /* Adjust as needed */
  font-weight: 450; /* Regular weight */
  color: var(--primary-text-color);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.pubtextarea textarea:focus {
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.pubtextarea textarea::placeholder {
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.pustpubbutton {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.pustpubbutton button {
  width: 90%;
  margin-left: 20px;

  height: 50px;
}
.vertical-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-switch .form-check-input {
  transform: rotate(90deg);
  transform-origin: center;
  width: 2.5rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}
.anonyme {
  width: 300px;
  height: 60px;

  display: flex;
  margin-left: 20px;
}
.anonyme label {
  font-size: 20px;
  margin-left: 5px;
  color: var(--primary-text-color);
}
.showeachpost {
  width: 80%;
  height: auto;
  border-radius: 5px;

  margin: 10px;
  margin-top: 20px;
  width: 90%;
}
.chatgptpremieum {
  z-index: 100;
  width: 800px;
  height: 600px;
  margin-left: 600px;
  margin-top: 100px;
}
/***end list qcms******************************************************/
/***********phone designe***************************************************/
.modal_phone {
  margin-top: 19px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: var(--background-color-full);
}

.headerquizz_phone {
  width: 100%;
  height: 45px;
  background-color: var(--background-color_headerquizz);
  display: flex;
  padding: 5px;
}
.full_save_qcm_phone {
  background-color: #e6dddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  height: 200px;
  width: 280px;
  top: 20vh;
  margin-top: 50px;
  margin-left: 30px;
}
.fullchronotime_phone {
  margin-left: 3px;
  border-radius: 8px;
  width: 130px;
  display: flex;
  border: 1px solid #61e03a;
  height: 30px;
  margin-top: 3px;
  background-color: var(--background-color);
  overflow: hidden;
}
.timediv_phone {
  width: 50%;
  background-color: var(--background-color);
  height: auto;
  font-size: 13px;
  float: left;
  display: flex;
  margin-left: 3px;
}
.timediv_phone span {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  padding-top: 3px;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.timetbns_phone {
  color: #4b91f7;
  width: 45%;
  background-color: var(--background-color);
  display: flex;
  float: right;
}
.timetbns_phone a {
  margin-left: 5px;
}
.full_save_close_quizz {
  color: #4b91f7;
  display: flex;
  margin-top: 3px;
}
.closequizz_phone {
  position: fixed;
  right: 0;
  margin-right: 5px;

  width: 100px;
  display: flex;
}
.full_parsujets_timer_container_phone {
  display: flex;
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
}
.parsujetscontainer_phone {
  display: flex;
  float: left;
  margin-right: 5px;
}
.parsujetscontainer_phone select {
  display: inline-block;
  height: 35px;
}

/***********add new designe phone header******************/

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: -60px;
  margin-left: -18px;
  padding: 1rem;
  z-index: 5;

  height: auto;
  width: 100%;
}
.modal_phone {
  height: auto;
  width: 100%;
}
.qcmpropocontainer_phone {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color-full);
  height: 100%;
  padding-bottom: 30px;
  margin-bottom: -5px;
  overflow-y: auto;
}
.fullqcmcontainer_commentary_phone {
  width: 100%;
  background-color: var(--background-color-full);
  display: flex;
}
.contanerspace_phone {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  height: auto;
  background-color: var(--background-color-full);
  scroll-behavior: auto;
}
.quizcontainer_phone {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: var(--background-color-full);
}

modulediv_phone .homebtn {
  margin-left: 20px;
}
.infoquizz_phone {
  background-color: var(--background-color);
  height: fit-content;
  width: 95%;
  margin: 5px;
  padding: 5px;
  z-index: 10px;
  border-radius: 6px;
}
.qcmInfoHeader_phone {
  display: flex;
  width: fit-content;

  margin-top: 5px;
  margin-left: 15px;
  font-weight: 450; /* Regular weight for body text */
  font-family: "Segoe UI", "Segoe UI Variable", -apple-system, "San Francisco",
    "Helvetica Neue", Roboto, "Noto Sans", "Segoe UI Emoji", "Segoe UI Symbol",
    Arial, sans-serif;
  font-size: 16px; /* Adjust as needed */
  color: var(--primary-text-color);
  border-radius: 6px;
}
.modulediv_phone {
  width: fit-content; /* size depends on text */
  height: fit-content;

  display: flex;
  padding: 3px;
  font-weight: 450;
  background-color: #2287b6;
  font-family: "Roboto", sans-serif;

  line-height: 1.6; /* Adds some space for readability */
  color: var(--primary-text-color);
  border-radius: 6px;
}
.qcmInfocatgrp_phone {
  display: flex;
  width: fit-content; /* size depends on text */
  height: fit-content;
  border-radius: 6px;
  margin-left: 5px;
  font-family: "Roboto", sans-serif;

  line-height: 1.6; /* Adds some space for readability */
  background-color: #2287b6;
  padding: 3px;
}
.qcmcourimgname_phone {
  display: flex;

  width: fit-content; /* size depends on text */
  background-color: #2287b6;
  border-radius: 6px;
  padding: 3px; /* add some breathing space */
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;

  line-height: 1.6; /* Adds some space for readability */
  color: var(--primary-text-color);
  border-radius: 6px;
}
.nmbrqcm_phone {
  background-color: transparent;
  width: 156px;
  left: 0;
  margin-right: 40px;
}
.nmbrqcm_phone li {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Regular weight for body text */
  line-height: 1.6; /* Adds some space for readability */
}
.full_note_commentary_phone {
  display: flex;
  width: 165px;
  height: 30px;

  float: right;
  right: 0;
}

.hr_phone {
  height: 3px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(13, 8, 96, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(0, 255, 113, 1) 100%
  );
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.qcmcourqcmnbr_phone {
  margin-top: 5px;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Regular weight for body text */
  line-height: 1.6; /* Adds some space for readability */
  color: var(--primary-text-color);
  border-radius: 6px;
}

.qcmfeild_phone {
  color: var(--primary-text-color);
  width: 100%;
  height: auto;

  margin-bottom: 7px;

  white-space: pre-line;
  padding: 5px;
  background-color: var(--background-color);
  height: fit-content;
  width: 95%;
  margin: 5px;
  padding: 5px;
  z-index: 10px;
  border-radius: 6px;
  position: relative;
  transform: translateZ(200px);
}
.qcmfeild_phone p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px; /* Suitable for mobile screens */
  padding: 5px;

  font-weight: 600; /* Regular weight */
  color: var(--primary-text-color);
}
.propofeild_phone {
  height: auto;
  background-color: var(--background-color);
  height: fit-content;
  width: 95%;
  margin: 5px;
  padding: 5px;
  z-index: 10px;
  margin-bottom: 10px;
}
.ulpropo_phone {
  margin-bottom: 30px;
}

.ulpropo_phone li {
  padding: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 410;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  overflow: hidden;
  cursor: pointer; /* Optional: changes cursor to pointer for clickability */
  border-bottom: 2px solid #ecdfdf;
  margin-bottom: 3px;
}
.ulpropo_phone li:active {
  transform: scale(1.03);
  font-size: 1.05rem; /* slightly bigger text */
  font-weight: 600;
  font-size: 20px; /* Suitable for mobile screens */
  /* optional: raise z-index so it appears above neighbours */
  z-index: 1;
}

.ulpropo_phone img {
  height: 25px;
  width: 25px;
}
/************************************************/

.goatlogo_phone {
  margin-left: 50px;
}
.ulcatogorycourname_phone {
  display: flex;
}

/***********footer phone divs******************/

.btnfooter_phone {
  height: 90px;
  width: 100%;
  background-color: rgb(224, 226, 226);
  display: flex;
  margin-top: 10px;
  height: 25px;
  position: fixed;
  bottom: 5px; /* Distance from the bottom */
  right: 5px; /* Distance from the right */
  left: 5px; /* Distance from the right */
}

.btnPrecdent_phone {
  width: 97px;
  height: 25px;
  background: #ff9800;
  color: #0c0c0c;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1;
  border: 0.5px solid #ffb74d;
  position: absolute;
  border-radius: 6px;
  left: 0;
  padding-top: 3px;

  padding-right: 5px;

  display: flex;
}
.btnsuivant_phone {
  width: 85px;
  height: 25px;
  background: #ff9800;
  color: #0c0c0c;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1;
  border: 0.5px solid #ffb74d;
  position: absolute;
  border-radius: 6px;
  right: 0;
  margin-right: 10px;
  padding-left: 5px;
  padding-top: 3px;
  display: flex;
}
.BntVerifierrpnse_phone {
  position: relative;
  margin-left: 47%;
}

.button_10 {
  position: relative;
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 6px;
  border: none;
  font-size: 15px;
  color: #fcfbfb;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/******commentary section*********************************************************/

.commentarydiv_phone {
  float: right;

  right: 5px;
  border-radius: 8px;
  position: absolute;
  background-color: #f4f1f8;
  padding-left: 10px;
  padding-top: 10px;
  width: 90%;
  margin-bottom: 5px;
  z-index: 20;
  /* hidden by default */
  font-style: normal;
  transition: bottom 1s ease;
}
.anonymecmntre_phone {
  margin-top: -5px;
  width: 200px;
  height: 10px;

  display: flex;
  margin-left: 5px;
}
.anonymecmntre_phone label {
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
}
.close_commentary_phone {
  margin-top: -11px;
  margin-bottom: 10px;
  float: right;
  border: 1px solid rgb(255, 250, 250);
}
.close_commentary_phone li {
  border: 1px solid rgb(255, 250, 250);
}
.resize {
  border: 1px solid black;
  overflow: auto;
}
.commentary_likes_phone {
  border-radius: 8px;
  resize: both;
  height: auto;
  width: 95%;
  background-color: #fdfdfd;
  border: 1px solid rgb(192, 186, 186);
  padding-bottom: 0px;
  margin-top: 15px;
}
.eachcommentary_phone {
  width: 95%;
  height: 100%;

  margin-left: 5px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #e9e2e2;
}
.eachcommentary_phone h6 {
  margin-top: 1px;
  color: #82acec;
  font-size: 12px;
}
.eachcommentary_phone h5 {
  margin-top: 1px;

  font-size: 13px;
}

.likes_phone {
  margin-top: 0px;
  display: flex;
  height: 40px;
}

.btnjadore_phone button {
  background-color: transparent;
  border: #fcfbfb;
  margin-left: 5px;
  font-weight: 400;

  font-size: 11px;
}
.btnjadore_icon_phone {
  display: flex;
  margin-left: 70%;
  border: #968484;
  font-weight: 500;
  margin-top: 5px;
}
.btnjadore_icon_phone h6 {
  font-size: 12px;
}
.btnjadore_icon_phone {
  width: 7px;
  height: 30px;
}
.hr_likes_phone {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.qcmnbr_commentary_div_phone {
  margin-top: 5px;
  display: flex;
  height: 27px;
}

.commentary_phone {
  margin-left: 5px;
  height: 100%;
}

.chatgptdiv_phone {
  border: 1px solid rgb(185, 190, 209);
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.nbrComent_phone {
  position: absolute;
  z-index: 10px;
  margin-top: -4px;
  margin-left: 10px;
  color: #5389db;
  font-size: 12px;
  font-weight: bold;
}
.commentary_phone img {
  width: 100%;
  height: 25px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.inputcommentary_phone {
  padding: 5px;
  margin-bottom: 0px;
}

.custom_search_phone {
  position: relative;
  width: 100%;
}
.custom_search_input_phone {
  box-sizing: border-box;
  width: fit-content;
}
.custom_search_botton_phone {
  padding-top: 2px;
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  line-height: 1 !important;
  z-index: 4;
}
.imojiicon_btnsend_phone {
  width: 80px;
}
.pickerdiv_phone {
  margin-top: 15px;
}

/***************************************************************************************/
/*************done quiz popup****************************************************/
.card_done_quiz_phone {
  width: 250px;
  height: 180px;
  padding: 10px;
  margin-bottom: 7px;
  margin-left: 40px;
  margin-top: 150px;
  z-index: 5;
  position: fixed;
  background-color: rgb(238, 234, 234);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
  border-radius: 8px;
}
.card_done_quiz_phone h6 {
  margin-top: 20px;
  font-size: 12px;
}
.card_done_quiz_btns_phone {
  display: grid;
}
.card_done_quiz_btns_phone button {
  color: rgb(7, 4, 0);
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
}
/*************end commentary section***********************************************************/
/*****liste qcm phone****************************************/
.full_listeqcm_phone {
  margin-top: 30px;

  height: 400px;
  position: absolute;
  display: flex;
  border-radius: 10px;
  background-color: transparent;
  z-index: 2;
}
.listeqcm_phone {
  border-radius: 1px solid #b1acac;
  border-radius: 10px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  overflow-y: auto;
  background-color: var(--background-color);
}
.iconlistqcm {
  margin-top: 40px;
  width: 40px;
  height: 40px;
}
.iconlistqcm img {
  margin-left: -7px;
}
.qcmsliste_header_phone {
  border-radius: 10px;
  width: 100%;
  height: 20px;
  background-color: #5389db;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding-left: 30px;
  color: var(--primary-text-color);
}
.qcmsliste_phone h6 {
  padding-top: 5px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.listeqcm_phone li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4b91f7;
  display: flex;
  background-color: var(--background-color);
}
.vl_select_phone {
  border-left: 4px solid rgb(121, 141, 231);
  height: 12px;
  margin-top: 7px;
  margin-left: 10px;
}
.vl_answer_phone {
  border-left: 4px solid rgb(65, 185, 81);
  height: 12px;
  margin-top: 7px;
  margin-left: 5px;
}

/**********************************************************/
/****percentage*******************************************/
.percentage_phone {
  width: 40px;
  font-size: 12px;
  height: 20px;
  padding-left: 5px;
  padding-bottom: 3px;
  margin-left: 2px;
  margin-bottom: 7px;
  float: right;
  color: #5284cf;
  background-color: #e8ecf1;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 8px;
  border: 1px solid rgb(192, 186, 186);
}
/****************************************************************/
.save_quizz_phone {
  width: 240px;
  height: 300px;
  padding: 10px;
  margin-bottom: 7px;
  margin-left: 10px;
  margin-top: 100px;
  border-radius: 8px;
  z-index: 6;
  position: fixed;
  background-color: rgb(238, 234, 234);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
}
.playliste_phone {
  margin-top: 20px;
  margin-left: -20px;
  width: 100%;

  font-size: 14px;
}
.playliste_input_phone {
  margin-top: -10px;
  height: 30px;
  width: 100%;
  font-size: 16px;
  display: flex;
}
.suivant_btn_phone {
  float: right;
  right: 0px;
  bottom: 0px;

  margin-left: 100px;
}

.playliste_input_phone input {
  margin-right: 5px;
  width: 90%;
  height: 30px;
  font-size: 16px;
  margin-left: 20px;
}

.playlistesdiv_phone {
  padding: 10px;
  padding-left: 10px;
  width: 45%;
  margin-right: 30px;
  margin-left: 15px;
  height: 200px;
  width: 100%;
  background-color: #f4f6f7;
  display: inline-block;
  vertical-align: middle;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  border: #888484 1px;
}
.playlisteitem_phone input {
  border: 1px solid rgb(194, 191, 191);
  margin-right: 3px;
}

.playlisteitem_phone label {
  font-style: unset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
.playlisteh6_phone {
  margin-left: 3px;
  color: var(--primary-text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 18px;
}

.save_quizz_conetent_phone {
  margin-top: 20px;

  width: 200px;
  font-size: 16px;
}
.save_quizz_conetent_phone input {
  margin-top: 20px;

  width: 90%;
}
.save_quizz_conetent_btns_phone {
  margin-top: 20px;

  width: 80%;
  font-size: 16px;

  margin-left: 60px;
}
/**************************************************************************/
.save_quizz_conetent_phone button {
  margin-top: 20px;

  width: 120px;
  font-size: 13px;
}

/**statique phone*************************************************************/
.fullstatique_phone {
  width: 280px;
  height: auto;
  background-color: rgb(239, 240, 241);
  z-index: 7;
  position: fixed;
  margin-top: 5px;
  margin-left: 23px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: -10px;
  border-radius: 7px;
  overflow: auto;
}
.bothfullstatique_phone {
  margin-left: 10px;
  width: 260px;
  height: auto;
}
.fullpiebarestatique_phone {
  width: 260px;
  height: 400px;
  background-color: #4b91f7;
  margin-top: 10px;
}
.piestatique_phone {
  width: auto;
  height: 200px;
  padding: 10px;
  margin-bottom: 7px;

  margin-top: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
}
.barstatique_phone {
  width: auto;
  height: 200px;
  margin-bottom: 7px;
  margin-top: 5px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  white-space: pre-line;
}
.fulleachcours_phone {
  margin-top: 10px;
  width: 260px;
  height: auto;
}
.headerbounate_phone {
  margin-top: 5px;
  width: 260px;
  height: 40px;
  display: flex;
}

.cardbodynumber_phone {
  border-radius: 10px;
  width: 110px;
  height: auto;
  background: #e4f9f2;
  margin-right: 5px;
}
.cardbodycard_timer_phone {
  border-radius: 10px;
  width: 110px;
  height: auto;
  background: #f5e1fd;
}
.titlenumber_time_phone {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  color: rgb(83, 81, 81);
}
.eachbounatecour_phone {
  display: flex;
  width: 260px;
  height: 90px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid rgb(192, 186, 186);
}
.namecourdounate_phone {
  width: 50%;
  height: 90px;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 5px;
}
.donatecour_phone {
  width: 50%;
  height: 90px;
}
/***end list qcms******************************************************/

.fullinputshow_phone {
  width: 70%;
  height: 430px;
  z-index: 3;
  border: 1px solid #888484;
  border-radius: 10px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin-top: 10px;
  z-index: 20;
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
  border: 1px solid #17a9ec;
}
.creatposttitle_phone {
  width: 100%;
  height: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */
  padding-left: 2%;
  margin-top: 2px;
}
.hr_phone {
  height: 3px;
  border: none;
  border-radius: 4px;
  background: var(--background-color-graywhite_seconde);
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
.pubtextarea_phone {
  width: 100%;
  height: 80px;
  background-color: var(--background-color-graywhite);
}
.pubtextarea_phone textarea {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-graywhite);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */
  color: var(--primary-text-color);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.pubtextarea_phone textarea:focus {
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.pubtextarea_phone textarea::placeholder {
  background-color: var(--background-color-graywhite);
  color: var(--primary-text-color);
}
.pustpubbutton_phone {
  width: 100%;
  height: 50px;
  margin-top: 5px;
}
.pustpubbutton_phone button {
  width: 90%;
  margin-left: 10px;

  height: 30px;
}
.vertical-switch_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-switch_phone .form-check-input {
  transform: rotate(90deg);
  transform-origin: center;
  width: 2.5rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}
.anonyme_phone {
  margin-top: -5px;
  width: 150px;
  height: 20px;

  display: flex;
  margin-left: 20px;
}
.anonyme_phone label {
  font-size: 13px;
  margin-left: 5px;
}

.anonymecmntre_phone {
  margin-top: -5px;
  width: 200px;
  height: 10px;

  display: flex;
  margin-left: 5px;
}
.anonymecmntre_phone label {
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
}
.showeachpost_phone {
  width: 95%;
  height: auto;
  border-radius: 5px;
}
.postcontent_phone {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px; /* Adjust as needed */
  font-weight: 300; /* Regular weight */
  color: var(--primary-text-color);
  padding: 8px;
}
.qcmdisplay_phone {
  padding: 5px;
  height: 200px;
  overflow-y: auto;
  background-color: var(--background-color-graywhite);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px; /* Adjust as needed */
  font-weight: 200; /* Regular weight */
  color: var(--primary-text-color);
}
