.addingdiv {
  width: 100%;

  overflow: hidden;
  border: 1px solid (240, 240, 240);
  background-color: rgb(240, 240, 240);
  display: flex;
}
.contanerspace {
  margin-top: 20px;
  position: absolute;
  display: inline-block;
  background-color: var(--background-color-full);
  height: auto;
  width: 100%;
}

.sidebare {
  width: 200px;
  display: inline-block;
  position: absolute;
  z-index: 2;
}

.quizzContainer {
  margin-left: 300px;
  width: 1200px;
  height: 650px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: rgb(223, 220, 226);
}
.eachsession {
  margin-left: 150px;
  width: 600px;
  height: 270px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(246, 248, 248);
  display: flex;
}
.piestatique {
  width: 180px;
  height: 180px;
}
.infosession {
}
.full_module_iconplay {
  left: 0px;
  float: left;
  width: 400px;
  height: 100%;
  padding-top: 5px;
  padding-left: 30px;
}
.nameQcmSession {
  padding-top: 5px;
  padding-left: 10px;
  left: 0px;
  float: left;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: rgb(138, 141, 141);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.modulename {
  padding-top: 5px;
  padding-left: 10px;
  left: 0px;
  float: left;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: rgb(43, 44, 44);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.playicondiv {
  border: 3px solid #9d00ff;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  display: flex;

  padding-left: 6px;
  padding-top: 3px;
  float: right;
  bottom: 0;
  right: 10;
}
.icondiv {
  margin-right: 10px;
}
.yearquizz {
  padding-top: 30px;
  padding-left: 10px;
  left: 0px;
  float: left;
  width: 200px;
  height: 50%;
  border-radius: 10px;
  color: rgb(43, 44, 44);
}
.threepoint {
  float: right;
  right: 0px;
  margin-top: 20px;
  margin-right: 5px;
}
.quizzdiv_container {
  position: relative;
  margin-top: 50px;
}
.detail {
  width: 120px;
  height: 70px;

  background-color: var(--background-color);
  border: 3px solid rgb(80, 80, 76);
  border-radius: 5px;
  z-index: 1;

  color: var(--primary-text-color);
  position: absolute;
  top: 0;
  right: 0;
}
.detail button {
  padding-left: 5px;
  width: 100%;
  height: 10px;
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-text-color);
}
.detail button:hover {
  border-radius: 5px;
  height: 50%;
  background-color: #cad4d1;
  color: black;
}
.hr_desk {
  margin-left: 3px;
  height: 3px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgb(159, 157, 202) 0%,
    rgb(159, 157, 202) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(0, 255, 113, 1) 100%
  );
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}
/*****phone****************************************************/
.contanerspace_phone {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-full);
}

.quizzContainer_phone {
  margin-left: 5px;
  width: 350px;
  height: 700x;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: rgb(223, 220, 226);
}
.eachsession_phone {
  margin-left: 5px;
  width: 320px;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(246, 248, 248);
  display: flex;
  box-shadow: #535554;
}
.piestatique_phone {
  width: 150px;
  height: 150px;
}
.full_module_iconplay_phone {
  left: 0px;
  float: left;
  width: 100x;
  height: 100%;
  padding-top: 5px;
  padding-left: 5px;
}
.modulename_nameQcmSession_phone {
  height: 70px;

  display: grid;
}
.nameQcmSession_phone {
  padding-left: 10px;
  left: 0px;
  float: left;
  width: 100px;

  border-radius: 10px;
  margin-bottom: 5px;
  color: rgb(64, 68, 68);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.modulename_phone {
  padding-left: 10px;
  left: 0px;
  float: left;
  width: 100px;

  border-radius: 10px;
  margin-bottom: 5px;
  color: rgb(64, 68, 68);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.playicondiv_phone {
  width: 80px;
  height: 70px;
  display: flex;
  margin-left: 40px;
  padding-left: 6px;
  padding-top: 3px;
  padding-bottom: 10px;
}
.icondiv_phone {
  margin-right: 10px;
}
.yearquizz_phone {
  padding-top: 20px;
  padding-left: 5px;

  left: 0px;
  float: left;
  width: 50px;
  height: 100%;
  border-radius: 10px;
  color: rgb(105, 114, 111);
}
.threepoint_phone {
  float: right;
  right: 0px;
  margin-top: 30px;
  margin-right: 5px;
}
.quizzdiv_container_phone {
  position: relative;
  margin-top: 50px;
}
.infosession_phone {
  display: grid;
}
.yearquizz_threepoint_phone {
  margin-top: -20px;
  display: flex;
}
.detail_phone {
  width: 120px;
  height: 70px;

  background-color: var(--background-color);
  border: 3px solid rgb(80, 80, 76);
  border-radius: 5px;
  z-index: 1;

  color: var(--primary-text-color);
  position: absolute;
  top: 0;
  right: 0;
}
.detail_phone button {
  padding-left: 5px;
  width: 100%;
  height: 10px;
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-text-color);
}
.detail_phone button:hover {
  border-radius: 5px;
  height: 50%;
  background-color: #cad4d1;
  color: black;
}
.hr_desk_phone {
  margin-left: 3px;
  height: 3px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgb(159, 157, 202) 0%,
    rgb(159, 157, 202) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(0, 255, 113, 1) 100%
  );
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}
